.no-overflow {
    overflow: hidden;
}

.inline {
    display: inline-block;
}

.wrong-word {
    border-bottom: 1px dashed red;
}

.wrong-word { position:relative }

.wrong-word .field {
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.list {
    font-size: 12px;
}

.wrong-word .field:hover {
    -moz-box-shadow: 0 0 1px #999;
    -webkit-box-shadow: 0 0 1px #999;
    box-shadow: 0 0 1px #999
}

ul.list {
    display: none;
    position: absolute;
    left: 30px;
    top: 8px;
    z-index: 999;
    width: 180px;
    margin: 0;
    padding: 10px;
    list-style: none;
    background: #fff;
    color: #333;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 0 5px #999;
    -webkit-box-shadow: 0 0 5px #999;
    box-shadow: 0 0 5px #999
}

ul.list li {
    padding: 4px;
    border-bottom: solid 1px #ccc;
}

ul.list li:hover {
    background: #EC6603;
    color: #fff;
}

ul.list li:last-child { 
    border: none
}

.clean-wrong-word {
    border-bottom: none;
}

#sourceText {
    font-family: Consolas;
    font-size: 14px;
    white-space: pre-line;
    word-wrap: break-word;
}